body {
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

body.with-navbar-fixed-top {
    padding-top: 60px;
}

.strikethrough {
    text-decoration: line-through;
}

.list-numeric {
    list-style-type: decimal;
}

#measureDiv {
    height: 50%;
}
#strapDiv {
    height: 100px;
    max-width: 100%;
    border-top: solid gray 1px;
    border-bottom: solid gray 1px;
    text-align: center;
}
#strapText {
    display: inline-block;
    vertical-align: middle;
    line-height: 100px;
}
#measureDiv {
    text-align: center;
}


