body {
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

body.with-navbar-fixed-top {
    padding-top: 60px;
}

.strikethrough {
    text-decoration: line-through;
}

#measureDiv {
    text-align: center;
    margin-top: 3%;
}

#midSpacing {
    height:25%;
}

#botCont {
    text-align: center;
}

#stateLabel {
    height: 12%;
    font-size: 15px;
    color: #7A7A7A;
    font-weight: bold;
}

.home-button {
    height: 20%;
    width: 70%;
    margin-top:5%;
    font-size: 130%;
}

.buttonIcon {
    
    float: left;
    font-size: 230%;
    margin-top: 5%;
}

#strapText {
    margin-top: 5%;
    font-size: 130%;
    padding-bottom: 5%;
}
.strapSpace {
    height: 45%;
}

#strapDiv {
    margin-top: 15%;
    height:70%;

}

.butText {
    margin-top: 10%;
}



