body {
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

body.with-navbar-fixed-top {
    padding-top: 60px;
}

.strikethrough {
    text-decoration: line-through;
}

#measureDiv {
    text-align: center;
    margin-top: 3%;
}

#midSpacing {
    height: 25%;
}

@media screen and (orientation: portrait) {
    .only-in-landscape {
        width: 100%;
        float: none;
    }
}
