<div class='container text-center' >
	<h1>iMove</h1>
	<p id="slogan">Calculate Your Tardieu Scale Number</p>
	<div class='buttonDiv'>
		<a href="#/test/begin" class="btn btn-success home-button"><span class="glyphicon glyphicon-dashboard buttonIcon" aria-hidden="true"></span><div class='butText'>Start test</div></a>
	</div>
	<div>
		<a href="#/results" class="btn btn-primary home-button"><span class="glyphicon glyphicon-th-list buttonIcon" aria-hidden="true"></span><div class='butText'>Results</div></a>
	</div>
	<div>
		<a href="#/results" class="btn btn-primary home-button"><span class="glyphicon glyphicon-book buttonIcon" aria-hidden="true"></span><div class='butText'>Tutorial</div></a>
	</div>
</div>
