<div class="container-fluid">
<h2><p class="label label-success">{{ data.values.orientation.x }}</p></h2>
<p>{{ data.values.state }}</p>


<ul class="list-numeric">
    <li ng-repeat="step in steps" ng-class="{strikethrough: step.state == 'done'}">{{ step.text }}</li>
</ul>

<div class="progress" >
  <div class="progress-bar progress-bar-success progress-bar-striped active" id="prgBar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{ percent }}%">
    
  </div>
</div>

<a href="#/results/1" class="btn btn-primary">Done</a>
</div>